In [1]:
import pandas as pd

In [12]:
data=pd.read_csv('startup_funding.csv')
df = data.copy()
df['CityLocation'].replace('Delhi','New Delhi', inplace=True)
df['CityLocation'].replace('bangalore', 'Bangalore', inplace=True)
df

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
...,...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [13]:
amount=df.loc[(df['CityLocation']=='Bangalore') | (df['CityLocation']=='New Delhi'), 'AmountInUSD']
amount

0        1,300,000
2              NaN
5        1,000,000
8        8,500,000
11             NaN
           ...
2190    10,000,000
2191           NaN
2196     3,500,000
2197           NaN
2198       400,000
Name: AmountInUSD, Length: 1013, dtype: object

In [14]:
amount.dropna(inplace=True)
amount = amount.str.replace(',', '')
amount = amount.apply(lambda x: int(float(x)))
amount

0        1300000
5        1000000
8        8500000
13       1000000
19      18500000
          ...
2178    15000000
2181      500000
2190    10000000
2196     3500000
2198      400000
Name: AmountInUSD, Length: 618, dtype: int64

In [16]:
population_mean = amount.mean()
population_mean

18017834.317152105

In [27]:
sample = amount.sample(50)
sample_mean = sample.mean()
sample.mean()

17966320.0

In [29]:
sampling_error = population_mean-sample_mean
print('%.2f' %sampling_error)

51514.32